{% extends html %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <style>
        #mapdiv { height: 450px; }
    </style>
{% endblock %}

{% block content %}
    <h1>Devices</h1>
    <ul>
    {% for item in history %}
        <li>{{item.name}} <span>{{item.hash}}</span></li>
    {% endfor %}
    </ul>

    <div id="mapdiv"></div>

    <script src="zepto.min.js"></script>

    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

    <script src="map.js"></script>

{% endblock %}
